@import "tailwindcss";

:root {
  --background: #fbf9f8;
  --foreground: #1b1c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --color-surface: #fbf9f8;
  --color-surface-lowest: #ffffff;
  --color-surface-low: #f6f3f2;
  --color-surface-high: #eae8e7;
  --color-surface-variant: #e4e2e1;
  --color-primary: #570013;
  --color-primary-container: #800020;
  --color-on-primary: #ffffff;
  --color-secondary: #735c00;
  --color-secondary-fixed: #ffe088;
  --color-outline: #8c7071;
  --color-on-surface: #1b1c1c;
  --color-on-surface-variant: #584141;
}

html {
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
